.f-panel-header{
    /*background: #3E4C5F;*/
}

.f-toolbar-item{
    background: none;
    border: none;
    color: #363636;
}

.f-toolbar-item:hover{
    color: #bc2328;
}

.f-toolbar-item:active{
    color: #32bc14;
}

.f-toolbar-item:disabled{
    color: #6d6a69;
}

.nav-tabs > li > a:hover,
.nav > li > a:hover{
    border-color: transparent transparent transparent;
    color: #555;
    background: none;
}

.f-panel-content{
    /*background: #d58512;*/
}

.f-panel-footer{
    background: #0c60ee;
    color: white;
}

.f-panel-left{
    background: #65cc93;
}
.f-panel-right{
    background: #fff;
}
.f-panel-middle{
    /*background: #ef4e3a;*/
}

.splitter-h{
    background: none;
}
.splitter-v{
}

.splitter-inner-h{
    background: #f0f0f0;
}

.splitter-inner-v{
    background: #f0f0f0;
}
