.window{
    width: 100%;
    height: 100vh;
}

.f-panel{
    position: absolute;
    overflow-y: scroll;
}

.f-panel-header{
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
}

.nav > li > a{
    padding-top: 4px;
    padding-bottom: 4px;
}

.f-panel-content{
    width: 100%;
    top: 60px;
    bottom: 100px;
    left: 0;
}

.f-panel-footer{
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
}

.f-panel-left{
    float: left;
    width: 300px;
    height: 100%;
    left: 0;
}
.f-panel-right{
    float: left;
    width: 200px;
    height: 100%;
    right: 0;
    padding-left: 4px;
    padding-right: 4px;
}

.f-panel-middle{
    position: absolute;
    float: left;
    left: 200px;
    right: 200px;
    height: 100%;
}
.splitter{
    position: absolute;
    z-index: 100;
}
.splitter-h{
    width: 8px;
    margin-right: -4px;
    height: 100%;
    right: 0;
}
.splitter-v{
    height: 8px;
    margin-bottom: -8px;
    width: 100%;
    bottom: 0;
}

.splitter-inner-h{
    width: 1px;
    height: 100%;
    margin: auto;
    pointer-events: none;
}

.splitter-inner-v{
    height: 1px;
    width: 100%;
    margin: auto;
    pointer-events: none;
}

.f-toolbar-item{
    padding: 0;
    width: 24px;
    height: 24px;
    font-size: 18px;
}

.widget-panel{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.widgeticon{
    width: 90px;
    display: inline-block;
}

.widget{
    width: 90px;
    height: 50px;
    background: no-repeat transparent center top url("../img/widget-icons.png");
    background-size: 90px;

    transition-property: opacity, transform;
    transform: scale3d(1, 1, 1);
    transition-duration: .25s;
    transition-timing-function: linear, cubic-bezier(0.33, 2, 0.66, 1);
}

.widget:hover{
    background-position-y: -50px;
    transform: scale3d(1.15, 1.15, 1);
}

.widget-name{
    margin: auto;
    width: 100%;
    text-align: center;
}

#sizeUnit{
    padding-left:0;
    padding-right:0;
}

#propValue{
    width: 50px;
}

#sliderValue{
    width: calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: -moz-calc(100% - 50px);
}

/*调整rzslider的边缘*/
.rzslider{
    margin: 12px 0px;
}

/*不显示rzslider上面的数字*/
.rzslider .rz-bubble{
    display: none;
}

/*不显示number input的小箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"]{-moz-appearance:textfield;}

.widgeticon{
    z-index: 1000;
}

#f-canvas{
    background: url("../img/skin-iphone.png") center no-repeat;
    background-size: auto 100%;
    width: 100%;
    height: 100%;
}

.treeic{
    width: 16px;
    height: 16px;
}
