<div ng-controller="PropTextCtrl">
    <div class="form-horizontal">
        <div ng-repeat="prop in propText">
            <div ng-switch on="prop.desc.type">
                <div ng-switch-when="enumButton">
                    <fin-prop-radio-button label="prop.desc.name" value-range="prop.desc.typeRange" ng-model="prop"></fin-prop-radio-button>
                </div>
                <div ng-switch-when="color">
                    <fin-prop-color label="prop.desc.name" ng-model="prop.value"></fin-prop-color>
                </div>
                <div ng-switch-when="input">
                    <fin-prop-input label="prop.desc.name" ng-model="prop.value" type="prop.desc.subType"></fin-prop-input>
                </div>
                <div ng-switch-when="enum">
                    <fin-prop-combox label="prop.desc.name" ng-model="prop.value"
                                     value-range="prop.desc.typeRange"></fin-prop-combox>
                </div>
                <div ng-switch-when="bool">
                    <fin-prop-switch label="prop.desc.name" ng-model="prop.value"></fin-prop-switch>
                </div>
                <div ng-switch-when="numberWithUnit">
                    <fin-prop-input-unit label="prop.desc.value.name" ng-model="prop.value.value" type="prop.desc.value.type"
                     unit-value="prop.unit.value" unit-value-range="prop.desc.unit.typeRange"></fin-prop-input-unit>
                </div>
                <div ng-switch-default>error【{{prop.desc.type}}】</div>
            </div>
        </div>
    </div>

    <switch id="enabled" name="enabled" ng-model="enabled" class="green"></switch>
    <br>{{ enabled }}
    <div class="form-group">
        <label for="propValue" class="col-sm-4 control-label input-sm">数值</label>
        <div class="input-group col-sm-8">
            <input type="number" class="form-control input-sm" id="propValue" ng-model="slider.value">
            <rzslider id="sliderValue" rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label input-sm">text size</label>
            <div class="input-group">
            </div>
            <div class="col-sm-5">
                <input type="number" class="form-control input-sm">
            </div>
            <div class="col-sm-3">
                <select class="form-control input-sm" id="sizeUnit" ng-model="propText.sizeUnit" ng-options="opt for opt in sizeUnits"></select>
            </div>
        </div>
        <div>
            <label>text size unit</label>
            <!-- Split button -->
            <select class="form-control" ng-model="propText.sizeUnit" ng-options="opt for opt in sizeUnits"></select>
        </div>
    </div>
    <div>
        <label>text size</label>
        <!-- Split button -->
        <div class="btn-group" uib-dropdown keyboard-nav>
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                Button dropdown <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem"><a href="#">Action</a></li>
                <li role="menuitem"><a href="#">Another action</a></li>
                <li role="menuitem"><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
    <div>
        <button ng-click="onBtnTest()">测试</button>
    </div>
</div>
