<div class="modal-header">
    <h3 class="modal-title">请选择项目</h3>
</div>
<div class="modal-body">
    共有{{theProjList.length}}个项目
    <ul class="list-group" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li class="list-group-item" ng-repeat="projName in theProjList" ng-click="_openProject(projName)"><a href  ng-disabled="projName == project.name">{{projName}}</a></li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>